<h1>Time Clock</h1>
<div class="time-container">
</div>

<%= form_for ClockEvent.new do |f|%>
  <div class="container">
    <div class="form-group">
      <input name="email" class="form-control-lg col-md-8 col-md-offset-2" placeholder="Email"/>
      <input name="password" type="password" class="form-control-lg col-md-8 col-md-offset-2" placeholder="Password" />
    </div>
    <button type="submit" class="col-md-8 col-md-offset-2 btn-lg btn-default text-center">Clock In/Clock Out</button>
  </div>
<% end %>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Person</th>
        <th>Clock-In</th>
        <th>Clock-Out</th>
        <th>Hours Worked</th>
        <% @clock_events.each do |c| %>
    <tr>
      <td><%= c.user.email %></td>
      <td><%= c.clock_in.in_time_zone('Eastern Time (US & Canada)').strftime("%m/%d/%Y %H:%M:%S %p") %></td>
      <% if c.clock_out.nil? %>
      <td> Clocked-In<td>
      <% else %>
          <td><%= c.clock_out.in_time_zone('Eastern Time (US & Canada)').strftime("%m/%d/%Y %H:%M:%S %p") %></td>
          <td><%= ((c.clock_out - c.clock_in)/60/60).round(2)%></td>
        <% end %>
    <% end %>
  </td>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    setInterval(function () {
      $('.time-container').load('/time/get_time');
    }, 1000);
  })
</script>
