// Place all the styles related to the Time controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.time-container {
  text-align: center;
  font-size: 6em;
  margin:auto;
}

input {
  display:inline-block;
  margin-top:2em 2em;
  font-size: 32px;
  line-height: 60px;
}

button {
  display:block;
  margin:auto;
  font-size: 4em;
  height: 54px;
  border-radius: 200px;
}

.table {
  margin-top: 8em;
}
